/*
    happiness.css
    Emily Litton, Jayti Arora

    Adopted from books.css
    Jeff Ondich, 27 April 2016
    Updated 6 November 2021

    Styles for the "world happiness" webapp 
    for CS 257
*/
body{
  background-color: #a9a4fe;
  width: 100%;
  padding: 0px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    
}

th, td {
    border: 1px solid black;
    padding: 15px;
}

a {
  color: #0B86B5;
  text-decoration: underline;
}

a:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  cursor: pointer;
}
#country-info-container{
  width: 100%;
  height: auto;
  background-color:#a9a4fe;
  display:list-item;
  
}
.country-info{
  width:100%;
  display:block;
  margin: 0;
  
}

#country-summary {
  float: left;
  width: 90%;
  padding: 10%;
  margin: 5%;
  
}
/* .country-table{
  padding: 5%;
} */
.selector-and-chart{
  display:block;
}
#map-container {
  position: relative;
  float: left;

  /* Preserving the container div's aspect ratio (which should be 4:3 for
   * the Datamap US map) uses this slightly bizarre CSS trick, where you make
   * sure the height is 0 and the ratio between width and padding-bottom
   * is your desired aspect ratio. See this pretty good article for details:
   * https://css-tricks.com/aspect-ratio-boxes/
   */
  height: 0;
  width: 100%;
  padding-bottom: 60%;
  /* margin-top: 10px; */

  /* My friend Shaun (Carleton CS '02) is even worse than I am at the details of
   * graphic design. So when he wants to make sure the designers don't preserve
   * his color choices, he makes stuff orange to force their hand. I am using
   * orange here both to remind you to change the color, and to make visible the
   * size and aspect ratio of the US map object. */
  background:#FCBE2D;
   /* background: #a9a4fe; */
}

#goals {
  float: left;
  width: 40%;
}


.welcome{
  padding-top:50px;
  padding: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:aquamarine;
  margin-bottom:0;
}
.hoverpopup {
  background: #eeeeee;
  border: 1px black solid;
  padding: 3px;
}

.navbar-color{
  /* background-color:#FCBE2D;   */
  background-color :#a9a4fe;
  color: #30374D;
  font-family: 'DM Sans', sans-serif;
}

#chart-container{
  display:block;
  float:left;
  width:90%;
  padding:3%;
  margin-top:60px;
  
}

.selector-and-chart{
  /* position:relative; */
  background-color:white;
}

select{
  background-color:aquamarine;
  border-radius: 0px;

}


.about{
  padding: 3%;
  margin-top: 60px;
}


